/* Fonts */
/* Make sure to use only web-safe font (google fonts and convert to web fonts)*/

@font-face {
    font-family: 'avenirmedium';
    src: url('fonts/AvenirNext-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avenirltstdheavy';
    src: url('fonts/AvenirLTStd-Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avenirltstdbook';
    src: url('fonts/AvenirLTStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avenirltstdblack';
    src: url('fonts/AvenirLTStd-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/* Reset */
* {outline: none; box-sizing: border-box;}

body, html, h1, h2, h3, h4, h5, h6, p, header, footer, div, article, section, aside {padding: 0; margin: 0; position: relative;}
html {height: 100%; overflow-x: hidden; scroll-behavior: smooth;}
a {text-decoration: none; cursor: pointer;}
body {overflow-x: hidden!important; background: #fff;}


/* Form Fields */
input, select, textarea, button {outline: 0; border: 0; appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; border-radius: 0; -webkit-border-radius: 0; }
button {cursor: pointer; background: transparent;}

/* General Classes */
.wid100 {width: 100%; float: left; position: relative;}
.fleft {float: left;}
.fright {float: right;}
.listn {list-style: none; margin: 0; padding: 0;} // use this as reset for unordered/ordered lists

/* Containers */
.pagewrapper {width: 90%;  margin: 0 auto; padding: 0; max-width: 1380px;} // change width and max-width accordingly
.pagewrapper2 {width: 97%; margin: 0 auto;  position: relative; max-width: 1430px;}
.pagewrapper3 {width: 96%; margin: 0 auto; max-width: 1420px }
.pagewrapper4 {width: 94%; margin: 0 auto; max-width: 1356px;}
.pagewrapper5 {width: 88%; margin: 0 auto; max-width: 1260px;}
.pagewrapper6 {width: 100%; margin: 0 auto; max-width: 1440px;}

/* Responsive Images */
.defimg {width: 100%; height: auto; display: block;} // Full width
.defimg2 {width: auto; height: 100%;} // Full height
.defauto {width: auto; height: auto; max-width: 100%;} // Retain image size
.containimg {width: 100%; height: 100%; object-fit: contain;} // Fits image depending on container size
.coverimg {width: 100%; height: 100%; object-fit: cover;} // Fills container size
img {@extend .defimg}


/* Layouts/Displays */
.flex {display: flex; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; -webkit-flex-flow: row wrap; flex-wrap: wrap;}
.inblock {display: inline-block}
.block {display: block; clear: both;}

/* Display in Desktop or mobile */
.desktop {display: block;}
.mobile {display: none;}

/* Wordpress - Wysiwyg Image Alignment */
.alignleft {text-align: left!important; float: left; margin-right: 20px; bottom: 20px;}
.alignright {text-align: right!important; float: right; margin-left: 20px; bottom: 20px;}
.aligncenter {text-align: center!important; margin: 20px auto;}


/* Flex - commonly used */
/* Stretched Vertically */
.startstretch {justify-content: flex-start; -webkit-justify-content: flex-start; align-content: stretch; -webkit-align-content: stretch;}

.endstretch {justify-content: flex-end; -webkit-justify-content: flex-end; align-content: stretch; -webkit-align-content: stretch;}

.betweenstretch {justify-content: space-between; -webkit-justify-content: space-between; align-content: stretch; -webkit-align-content: stretch;}

.centerstretch {justify-content: center; -webkit-justify-content: center; align-content: stretch; -webkit-align-content: stretch;}

.aroundstretch {justify-content: space-around; -webkit-justify-content: space-around; align-content: stretch; -webkit-align-content: stretch;}

.aroundstart {justify-content: space-around; -webkit-justify-content: space-around; align-content: flex-start; -webkit-align-content: flex-start;}

/* Centered Vertically */
.startcenter {justify-content: flex-start; align-items: center; -webkit-justify-content: flex-start; -webkit-align-items: center; }

.endcenter {justify-content: flex-end; align-items: center; -webkit-justify-content: flex-end; -webkit-align-items: center; }

.centercenter {justify-content: center; align-items: center; -webkit-justify-content: center; -webkit-align-items: center; }

.betweencenter {justify-content: space-between; align-items: center; -webkit-justify-content: space-between; -webkit-align-items: center; }

.aroundcenter {justify-content: space-around; align-items: center; -webkit-justify-content: space-around; -webkit-align-items: center; }

.startstart {justify-content: flex-start; align-items: flex-start; -webkit-justify-content: flex-start; -webkit-align-items: flex-start; }

.centerstart {justify-content: center; align-items: flex-start; -webkit-justify-content: center; -webkit-align-items: flex-start; }

.endstart {justify-content: flex-end; align-items: flex-start; -webkit-justify-content: flex-end; -webkit-align-items: flex-start; }

.betweenstart {justify-content: space-between; align-items: flex-start; -webkit-justify-content: space-between; -webkit-align-items: flex-start; }

.betweenend {justify-content: space-between; align-items: flex-end; -webkit-justify-content: space-between; -webkit-align-items: flex-end; }


/* Shadows */
.shdw1 {-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5); -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5); box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);}

.shdw2 {-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);}



/* Fonts */
$fontmain: 'avenirmedium', sans-serif;
$fonthead: 'avenirltstdheavy', sans-serif;
$fontbold: 'avenirltstdblack', sans-serif;
$fontlight: 'avenirltstdbook', sans-serif;

/* Colors */
/* Use name nearest to the color you will use */
$white: #fff;
$black: #000;
$blue: #2f6da4;
$blue2: #0676b8;
$blue3: #004167;
$lblue: #a9e1ff;
$green: #347f16;
$green2: #377e20;
$red: #bd3452;
$cream: #fffaf4;
$gray: #777777;
$darkgray: #333333;
$lightgray: #bcbfc3;
$vlgray: #e1e1e1;
$textgray: #666666;

/* Default Heading - if you have consistent font sizes per heading/paragraph - set complete styles  here */
h1 { } 
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p  {}

*{padding: 0; margin: 0; font-family: sans-serif;}

/* Columns */
.col-1 {width: 100%;}
.col-2 {width: 48%;}
.col-3 {width: 32%;}
.col-4 {width: 23%}
.col-5 {width: 18%;}
.col-6 {width: 15%;}
.col-8 {width: 11%;}
.col-10 {width: 9%;}
.col-2-2 {width: 50%;}

.innerPageContainer{height: auto; min-height: auto; min-height: initial; background-color: #019eeb; padding-right: 0; display: flex; justify-content: center; align-items: center;
  .container{width: 100%; max-width: 1432px; padding: 0; display: flex; align-items: center; overflow: hidden;
     .text-container{ width: 55%; padding: 50px 0;
          h3{color: white; margin-bottom: 20px; font-size: 44px; font-weight: bold;}
          p{color: white; line-height: 130%; font-size: 20px; font-weight: bold;}
     }
     .img-container{width: 45%; padding: 10px; padding-bottom: 0; height: 400px; display: flex; justify-content: center; align-items: flex-start; position: relative;
          .shape{width: 550px; overflow: hidden; height: 300px; border-radius: 50px 0px 0 50px; transform: rotate(50deg); position: absolute;
              top: 40%; left: 30px;
              img{width: 100%; height: 100%; object-fit: cover;}
          }
      }
  }
}

.maxwidth-container{
  .container{ max-width: 1432px; margin: auto; display: flex; align-items: center; overflow: hidden;  flex-direction: column;

      .innerPageContentContainer{width: 100%; display: flex; margin-top: 50px;
          ul.link-title{width: 300px; padding: 0; list-style: none; padding-right: 20px;
              li{font-size: 20px; padding-bottom: 20px; margin-bottom: 20px; position: relative; width: 100%;
                  a{color: gray; text-decoration: none;}
              }
              li::after{content: ''; position: absolute; bottom: 0; left: 0; height: 1px; width: 40px; background-color: #00129a;}
              li.active{
                  a{color: #00129a; font-weight: bold;}
                  span{color: #00129a; display: none;}
              }
              li:hover{
                  a{color: #00129a;}
              }
          }
          .text-container{width:calc(100% - 300px);
              h3{font-size: 32px; color: #00129a; line-height: 130%; margin-bottom: 30px; font-weight: bold;}
              h5{color: #00129a; font-size: 20px; line-height: 130%; margin-bottom: 30px; font-weight: bold;}
              p{font-size: 20px; margin-bottom: 30px;}
              h4{font-size: 20px; margin-bottom: 30px; color: #e59f01;}
              .img-solo{width: 100%; height: 300px; margin-bottom: 30px;
                  img{width: 100%; height: 100%; object-fit: cover;}
              }
              .quote{ width: 70%; margin: auto; margin-bottom: 30px;
                  p{color: #e59f01; font-size: 20px; font-weight: bold; position: relative; padding: 30px; text-align: center;
                      span{position: absolute; font-size: 20px;}
                      span:nth-child(1){top: 0; left: 0;}
                      span:nth-child(2){bottom: 0; right: 0;}
                  }
              }
              .video-container{width: 60%; margin: auto; margin-bottom: 30px;
                  .iframe-container{
                      position: relative;
                      width: 100%;
                      padding-bottom: 56.25%; 
                      height: 0;
                  }
                  .iframe-container iframe{
                      position: absolute;
                      top:0;
                      left: 0;
                      width: 100%;
                      height: 100%;
                  }
                    
              }
              .two-video-container{display: flex; justify-content: space-between; width: 100%; margin-bottom: 30px;
                  .half-width{width: 48%;}
                  .iframe-container{position: relative; width: 100%; padding-bottom: 56.25%; height: 0;}
                  .iframe-container iframe{position: absolute; top:0; left: 0; width: 100%; height: 100%;}
              }
          }
      }

  }
}

.mars-footer{ width: 100%; padding: 30px 0;
  div{max-width: 1432px; margin: auto;
      h4{font-size: 20px;
          a{color: #ea0404; text-decoration: none;}
      }
  }
}

.readmore{
  a{padding: 10px 20px; font-size: 18px; background-color: #011399; color: white; font-weight: bold; text-decoration: none;}
  a:hover{background-color: #03117a;}
}

.homepage-banner{width: 100%; background-color: #e6a000; padding-top: 50px;
  .container{max-width: 1432px; margin: auto; display: flex; align-items: center;
      .text-container{width: 55%; padding-right: 20px; padding-bottom: 50px;
          h1{font-size: 54px; color: white; font-weight: bold; margin-bottom: 20px;
              span{color: #011399; font-weight: bold;}
          }
          p{color: white; font-size: 20px; line-height: 150%; margin-bottom: 40px; }
      }
      .img-container{width: 45%; overflow: hidden; height: 500px; position: relative;
          .shape{width: 100%; max-width:700px; height: 100%; overflow: hidden; position: absolute; right: -50px; bottom: -85px; border-radius: 50%;
              transform: scale(1.2) rotate(-25deg);
              img{width: 100%; height: 100%; object-fit: cover; transform: rotate(25deg); margin-top: -25px;}
          }
      }
  }
}

.carousel-container{ padding: 50px 0; width: 100%;
  h3{text-align: center; color: #011399; font-size: 44px; margin-bottom: 50px; margin-top: 30px;}
  ul{padding: 0; list-style: none; width: calc(100% + 40px); margin-left: -20px; padding-bottom: 20px;
    .slick-list{padding-bottom: 20px;}
    li{ padding: 0 20px;
      .card-container{ box-shadow: 5px 10px 15px 0 rgba(177, 177, 177, 0.532);
        .img-container{height: 300px;
          img{width: 100%; height: 100%; object-fit: cover;}
        }
        .text-container{padding: 10px 10px; height: 75px;
          h5{font-size: 24px; color: #011399;}
        }
      }
    }
  }
}

.almost-full-container{width: 100%;
  .container{max-width: 1600px; margin: auto;
    .section-1{ width: 100%; display: flex; justify-content: space-between; margin-bottom: 60px;
      .img-container{width: 48%; display: flex; min-height: 600px; justify-content: space-between;
        div{width: 48%; height: 90%;
          img{height: 100%; width: 100%; object-fit: cover;}
        }
        div:nth-child(1){margin-top: 7%;}
      }
      .solo-img{
        div{width: 100%;}
      }
      .text-container{width: 50%; flex-grow: 1; padding-left: 50px; display: flex; flex-direction: column; justify-content: center;
        h3{font-size: 44px; color: #011399; margin-bottom: 20px;}
        p{font-size: 20px; margin-bottom: 40px; line-height: 150%;}
      }
    }
  }
}
.section2{margin-bottom: 60px; background-color: #e30073; overflow: hidden;
  .container{overflow: visible;}
}
.section-2{width: 100%; display: flex; align-items: center;
  .text-container{width: 45%; padding-right: 50px;
    h3{font-size: 44px; color: white; margin-bottom: 20px;}
    p{font-size: 20px; color: white; margin-bottom: 40px; line-height: 150%;}
  }
  .img-container{width: 55%;  padding-top: 150px; display: flex; justify-content: center;
    .shape{width: 500px; height: 500px; transform: rotate(-40deg); border-radius: 10px; margin-bottom: -150px; overflow: hidden;
      img{width: 100%; height: 100%; object-fit: cover; transform: rotate(40deg) scale(1.5); object-position: center -20px;}
    }
  }
}
